<section class="page-image page-image-about md-padding">
    <h1 class="text-white text-center">ADMIN</h1>
</section>

<!--==========================
    ABOUTUS Section
============================-->
<section id="aboutus" class="md-padding">
    <div class="container">
       {{> admin-nav}}
    </div>
</section>

<!--==========================
    THE TEAM
============================-->

<div class="container d-flex align-items-center justify-content-center">
    <img class="img-fluid mb-4" src="img/admin.png" alt="">
</div>