<ul class="navbar-nav text-uppercase ml-auto admin-nav-list" style="display:block;">
    <li class="nav-item" >
        <a class="nav-link" href="/admin">Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/categories" >Categoriler</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/posts" >Gönderiler</a>
    </li>
</ul>