<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-contact md-padding">
    <h1 class="text-white text-center">İletişim</h1>
</section>

<!--==========================
    Contact Section
============================-->
<section id="contact" class="md-padding">
    <div class="container">
        
        <div class="row text-center">
            <div class="col-md-4 offset-md-4">
                <div class="section-header">
                    <h2 class="title">İletişim</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                {{#if sessionFlash.message}}
				<div class='{{sessionFlash.type}}'>
					{{sessionFlash.message}}
				</div>
				{{/if}}
                <form  method="POST" action="/contact/email" >
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" name="name" type="text" placeholder="İsim *"
                                    required="required" data-validation-required-message="Lütfen isminizi giriniz.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="email" type="email" placeholder="Email *"
                                    required="required"
                                    data-validation-required-message="Lütfen email adresinizi giriniz.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="phone" type="tel" placeholder="Telefon "
                                    data-validation-required-message="Lütfen telefon numaranızı giriniz.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" name="message" placeholder="Mesajınız *"
                                    required="required"
                                    data-validation-required-message="Lütfen mesajınızı giriniz."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button class="main-btn" type="submit">Gönder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>